[submodule "pkgbuild/perl-zabbix2-api"]
	path = pkgbuild/perl-zabbix2-api
	url = https://aur@aur4.archlinux.org/perl-zabbix2-api.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-zabbix2-api.git
[submodule "pkgbuild/autojump-git"]
	path = pkgbuild/autojump-git
	url = https://aur@aur4.archlinux.org/autojump-git.git
	pushurl = ssh+git://aur@aur4.archlinux.org/autojump-git.git
[submodule "pkgbuild/cpp-alsa-volume"]
	path = pkgbuild/cpp-alsa-volume
	url = https://aur@aur4.archlinux.org/cpp-alsa-volume.git
	pushurl = ssh+git://aur@aur4.archlinux.org/cpp-alsa-volume.git
[submodule "pkgbuild/gmpc-plugins"]
	path = pkgbuild/gmpc-plugins
	url = https://aur@aur4.archlinux.org/gmpc-plugins.git
	pushurl = ssh+git://aur@aur4.archlinux.org/gmpc-plugins.git
[submodule "pkgbuild/cacti-spine"]
	path = pkgbuild/cacti-spine
	url = https://aur@aur4.archlinux.org/cacti-spine.git
	pushurl = ssh+git://aur@aur4.archlinux.org/cacti-spine.git
[submodule "pkgbuild/gscanbus"]
	path = pkgbuild/gscanbus
	url = https://aur@aur4.archlinux.org/gscanbus.git
	pushurl = ssh+git://aur@aur4.archlinux.org/gscanbus.git
[submodule "pkgbuild/ledmon"]
	path = pkgbuild/ledmon
	url = https://aur@aur4.archlinux.org/ledmon.git
	pushurl = ssh+git://aur@aur4.archlinux.org/ledmon.git
[submodule "pkgbuild/libcec-git"]
	path = pkgbuild/libcec-git
	url = https://aur@aur4.archlinux.org/libcec-git.git
	pushurl = ssh+git://aur@aur4.archlinux.org/libcec-git.git
[submodule "pkgbuild/unarchiver"]
	path = pkgbuild/unarchiver
	url = https://aur@aur4.archlinux.org/unarchiver.git
	pushurl = ssh+git://aur@aur4.archlinux.org/unarchiver.git
[submodule "pkgbuild/mmv"]
	path = pkgbuild/mmv
	url = https://aur@aur4.archlinux.org/mmv.git
	pushurl = ssh+git://aur@aur4.archlinux.org/mmv.git
