[submodule "pkgbuild/perl-zabbix2-api"]
	path = pkgbuild/perl-zabbix2-api
	url = https://aur@aur4.archlinux.org/perl-zabbix2-api.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-zabbix2-api.git
[submodule "pkgbuild/autojump-git"]
	path = pkgbuild/autojump-git
	url = https://aur@aur4.archlinux.org/autojump-git.git
	pushurl = ssh+git://aur@aur4.archlinux.org/autojump-git.git
[submodule "pkgbuild/cpp-alsa-volume"]
	path = pkgbuild/cpp-alsa-volume
	url = https://aur@aur4.archlinux.org/cpp-alsa-volume.git
	pushurl = ssh+git://aur@aur4.archlinux.org/cpp-alsa-volume.git
[submodule "pkgbuild/gmpc-plugins"]
	path = pkgbuild/gmpc-plugins
	url = https://aur@aur4.archlinux.org/gmpc-plugins.git
	pushurl = ssh+git://aur@aur4.archlinux.org/gmpc-plugins.git
[submodule "pkgbuild/cacti-spine"]
	path = pkgbuild/cacti-spine
	url = https://aur@aur4.archlinux.org/cacti-spine.git
	pushurl = ssh+git://aur@aur4.archlinux.org/cacti-spine.git
[submodule "pkgbuild/gscanbus"]
	path = pkgbuild/gscanbus
	url = https://aur@aur4.archlinux.org/gscanbus.git
	pushurl = ssh+git://aur@aur4.archlinux.org/gscanbus.git
[submodule "pkgbuild/ledmon"]
	path = pkgbuild/ledmon
	url = https://aur@aur4.archlinux.org/ledmon.git
	pushurl = ssh+git://aur@aur4.archlinux.org/ledmon.git
[submodule "pkgbuild/libcec-git"]
	path = pkgbuild/libcec-git
	url = https://aur@aur4.archlinux.org/libcec-git.git
	pushurl = ssh+git://aur@aur4.archlinux.org/libcec-git.git
[submodule "pkgbuild/unarchiver"]
	path = pkgbuild/unarchiver
	url = https://aur@aur4.archlinux.org/unarchiver.git
	pushurl = ssh+git://aur@aur4.archlinux.org/unarchiver.git
[submodule "pkgbuild/mmv"]
	path = pkgbuild/mmv
	url = https://aur@aur4.archlinux.org/mmv.git
	pushurl = ssh+git://aur@aur4.archlinux.org/mmv.git
[submodule "pkgbuild/thunderbird-nightly"]
	path = pkgbuild/thunderbird-nightly
	url = https://aur@aur4.archlinux.org/thunderbird-nightly.git
	pushurl = ssh+git://aur@aur4.archlinux.org/thunderbird-nightly.git
[submodule "pkgbuild/libplatform-git"]
	path = pkgbuild/libplatform-git
	url = https://aur@aur4.archlinux.org/libplatform-git.git
	pushurl = ssh+git://aur@aur4.archlinux.org/libplatform-git.git
[submodule "pkgbuild/nbimg"]
	path = pkgbuild/nbimg
	url = https://aur@aur4.archlinux.org/nbimg.git
	pushurl = ssh+git://aur@aur4.archlinux.org/nbimg.git
[submodule "pkgbuild/openshot-bzr"]
	path = pkgbuild/openshot-bzr
	url = https://aur@aur4.archlinux.org/openshot-bzr.git
	pushurl = ssh+git://aur@aur4.archlinux.org/openshot-bzr.git
[submodule "pkgbuild/perl-config-properties"]
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-config-properties.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-config-properties.git
	path = pkgbuild/perl-config-properties
	url = https://aur@aur4.archlinux.org/perl-config-properties.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-config-properties.git
[submodule "pkgbuild/perl-dbd-csv"]
	path = pkgbuild/perl-dbd-csv
	url = https://aur@aur4.archlinux.org/perl-dbd-csv.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-dbd-csv.git
[submodule "pkgbuild/perl-kwalify"]
	path = pkgbuild/perl-kwalify
	url = https://aur@aur4.archlinux.org/perl-kwalify.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-kwalify.git
[submodule "pkgbuild/perl-net-ip-xs"]
	path = pkgbuild/perl-net-ip-xs
	url = https://aur@aur4.archlinux.org/perl-net-ip-xs.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-net-ip-xs.git
[submodule "pkgbuild/perl-rpsl-parser"]
	path = pkgbuild/perl-rpsl-parser
	url = https://aur@aur4.archlinux.org/perl-rpsl-parser.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-rpsl-parser.git
[submodule "pkgbuild/perl-rrd-editor"]
	path = pkgbuild/perl-rrd-editor
	url = https://aur@aur4.archlinux.org/perl-rrd-editor.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-rrd-editor.git
[submodule "pkgbuild/perl-servicenow-soap"]
	path = pkgbuild/perl-servicenow-soap
	url = https://aur@aur4.archlinux.org/perl-servicenow-soap.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-servicenow-soap.git
[submodule "pkgbuild/perl-sql-statement"]
	path = pkgbuild/perl-sql-statement
	url = https://aur@aur4.archlinux.org/perl-sql-statement.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-sql-statement.git
[submodule "pkgbuild/perl-tie-hash-sorted"]
	path = pkgbuild/perl-tie-hash-sorted
	url = https://aur@aur4.archlinux.org/perl-tie-hash-sorted.git
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-tie-hash-sorted.git
[submodule "pkgbuild/python2-requests-git"]
	path = pkgbuild/python2-requests-git
	url = https://aur@aur4.archlinux.org/python2-requests-git.git
	pushurl = ssh+git://aur@aur4.archlinux.org/python2-requests-git.git
[submodule "pkgbuild/rxp"]
	path = pkgbuild/rxp
	url = https://aur@aur4.archlinux.org/rxp.git
	pushurl = ssh+git://aur@aur4.archlinux.org/rxp.git
[submodule "pkgbuild/snmpsim"]
	path = pkgbuild/snmpsim
	url = https://aur@aur4.archlinux.org/snmpsim.git
	pushurl = ssh+git://aur@aur4.archlinux.org/snmpsim.git
[submodule "pkgbuild/libplatform"]
	path = pkgbuild/libplatform
	url = https://aur@aur4.archlinux.org/libplatform.git
	pushurl = ssh+git://aur@aur4.archlinux.org/libplatform.git
