[submodule "pkgbuild/perl-zabbix2-api"]
	path = pkgbuild/perl-zabbix2-api
	url = https://aur@aur.archlinux.org/perl-zabbix2-api.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-zabbix2-api.git
[submodule "pkgbuild/autojump-git"]
	path = pkgbuild/autojump-git
	url = https://aur@aur.archlinux.org/autojump-git.git
	pushurl = ssh+git://aur@aur.archlinux.org/autojump-git.git
[submodule "pkgbuild/cpp-alsa-volume"]
	path = pkgbuild/cpp-alsa-volume
	url = https://aur@aur.archlinux.org/cpp-alsa-volume.git
	pushurl = ssh+git://aur@aur.archlinux.org/cpp-alsa-volume.git
[submodule "pkgbuild/gmpc-plugins"]
	path = pkgbuild/gmpc-plugins
	url = https://aur@aur.archlinux.org/gmpc-plugins.git
	pushurl = ssh+git://aur@aur.archlinux.org/gmpc-plugins.git
[submodule "pkgbuild/cacti-spine"]
	path = pkgbuild/cacti-spine
	url = https://aur@aur.archlinux.org/cacti-spine.git
	pushurl = ssh+git://aur@aur.archlinux.org/cacti-spine.git
[submodule "pkgbuild/gscanbus"]
	path = pkgbuild/gscanbus
	url = https://aur@aur.archlinux.org/gscanbus.git
	pushurl = ssh+git://aur@aur.archlinux.org/gscanbus.git
[submodule "pkgbuild/ledmon"]
	path = pkgbuild/ledmon
	url = https://aur@aur.archlinux.org/ledmon.git
	pushurl = ssh+git://aur@aur.archlinux.org/ledmon.git
[submodule "pkgbuild/libcec-git"]
	path = pkgbuild/libcec-git
	url = https://aur@aur.archlinux.org/libcec-git.git
	pushurl = ssh+git://aur@aur.archlinux.org/libcec-git.git
[submodule "pkgbuild/unarchiver"]
	path = pkgbuild/unarchiver
	url = https://aur@aur.archlinux.org/unarchiver.git
	pushurl = ssh+git://aur@aur.archlinux.org/unarchiver.git
[submodule "pkgbuild/mmv"]
	path = pkgbuild/mmv
	url = https://aur@aur.archlinux.org/mmv.git
	pushurl = ssh+git://aur@aur.archlinux.org/mmv.git
[submodule "pkgbuild/thunderbird-nightly"]
	path = pkgbuild/thunderbird-nightly
	url = https://aur@aur.archlinux.org/thunderbird-nightly.git
	pushurl = ssh+git://aur@aur.archlinux.org/thunderbird-nightly.git
[submodule "pkgbuild/libplatform-git"]
	path = pkgbuild/libplatform-git
	url = https://aur@aur.archlinux.org/libplatform-git.git
	pushurl = ssh+git://aur@aur.archlinux.org/libplatform-git.git
[submodule "pkgbuild/nbimg"]
	path = pkgbuild/nbimg
	url = https://aur@aur.archlinux.org/nbimg.git
	pushurl = ssh+git://aur@aur.archlinux.org/nbimg.git
[submodule "pkgbuild/openshot-bzr"]
	path = pkgbuild/openshot-bzr
	url = https://aur@aur.archlinux.org/openshot-bzr.git
	pushurl = ssh+git://aur@aur.archlinux.org/openshot-bzr.git
[submodule "pkgbuild/perl-config-properties"]
	pushurl = ssh+git://aur@aur.archlinux.org/perl-config-properties.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-config-properties.git
	path = pkgbuild/perl-config-properties
	url = https://aur@aur.archlinux.org/perl-config-properties.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-config-properties.git
[submodule "pkgbuild/perl-dbd-csv"]
	path = pkgbuild/perl-dbd-csv
	url = https://aur@aur.archlinux.org/perl-dbd-csv.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-dbd-csv.git
[submodule "pkgbuild/perl-kwalify"]
	path = pkgbuild/perl-kwalify
	url = https://aur@aur.archlinux.org/perl-kwalify.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-kwalify.git
[submodule "pkgbuild/perl-net-ip-xs"]
	path = pkgbuild/perl-net-ip-xs
	url = https://aur@aur.archlinux.org/perl-net-ip-xs.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-net-ip-xs.git
[submodule "pkgbuild/perl-rpsl-parser"]
	path = pkgbuild/perl-rpsl-parser
	url = https://aur@aur.archlinux.org/perl-rpsl-parser.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-rpsl-parser.git
[submodule "pkgbuild/perl-rrd-editor"]
	path = pkgbuild/perl-rrd-editor
	url = https://aur@aur.archlinux.org/perl-rrd-editor.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-rrd-editor.git
[submodule "pkgbuild/perl-servicenow-soap"]
	path = pkgbuild/perl-servicenow-soap
	url = https://aur@aur.archlinux.org/perl-servicenow-soap.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-servicenow-soap.git
[submodule "pkgbuild/perl-sql-statement"]
	path = pkgbuild/perl-sql-statement
	url = https://aur@aur.archlinux.org/perl-sql-statement.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-sql-statement.git
[submodule "pkgbuild/perl-tie-hash-sorted"]
	path = pkgbuild/perl-tie-hash-sorted
	url = https://aur@aur.archlinux.org/perl-tie-hash-sorted.git
	pushurl = ssh+git://aur@aur.archlinux.org/perl-tie-hash-sorted.git
[submodule "pkgbuild/python2-requests-git"]
	path = pkgbuild/python2-requests-git
	url = https://aur@aur.archlinux.org/python2-requests-git.git
	pushurl = ssh+git://aur@aur.archlinux.org/python2-requests-git.git
[submodule "pkgbuild/rxp"]
	path = pkgbuild/rxp
	url = https://aur@aur.archlinux.org/rxp.git
	pushurl = ssh+git://aur@aur.archlinux.org/rxp.git
[submodule "pkgbuild/snmpsim"]
	path = pkgbuild/snmpsim
	url = https://aur@aur.archlinux.org/snmpsim.git
	pushurl = ssh+git://aur@aur.archlinux.org/snmpsim.git
[submodule "pkgbuild/libplatform"]
	path = pkgbuild/libplatform
	url = https://aur@aur.archlinux.org/libplatform.git
	pushurl = ssh+git://aur@aur.archlinux.org/libplatform.git
[submodule "pkgbuild/flexget-git"]
	path = pkgbuild/flexget-git
	url = https://aur@aur.archlinux.org/flexget-git.git
	pushurl = ssh+git://aur@aur.archlinux.org/flexget-git.git
[submodule "pkgbuild/makemkv-libaacs"]
	path = pkgbuild/makemkv-libaacs
	url = https://aur@aur.archlinux.org/makemkv-libaacs.git
	pushurl = ssh+git://aur@aur.archlinux.org/makemkv-libaacs.git
[submodule "pkgbuild/libcrossguid-git"]
	path = pkgbuild/libcrossguid-git
	url = https://aur@aur.archlinux.org/libcrossguid-git.git
	pushurl = ssh+git://aur@aur.archlinux.org/libcrossguid-git.git
[submodule "pkgbuild/vim-indent-guides"]
	path = pkgbuild/vim-indent-guides
	url = ssh://aur@aur.archlinux.org/vim-indent-guides.git
[submodule "pkgbuild/python2-rarfile"]
	path = pkgbuild/python2-rarfile
	url = ssh://aur@aur.archlinux.org/python2-rarfile.git
[submodule "pkgbuild/stlarch_icons"]
	path = pkgbuild/stlarch_icons
	url = ssh://aur@aur.archlinux.org/stlarch_icons.git
[submodule "pkgbuild/vim-logstash-git"]
	path = pkgbuild/vim-logstash-git
	url = ssh://aur@aur.archlinux.org/vim-logstash-git.git
[submodule "pkgbuild/pbin-git"]
	path = pkgbuild/pbin-git
	url = ssh://aur@aur.archlinux.org/pbin-git.git
[submodule "pkgbuild/python2-flask-compress"]
	path = pkgbuild/python2-flask-compress
	url = ssh://aur@aur.archlinux.org/python2-flask-compress.git
[submodule "pkgbuild/python2-flask-restplus072"]
	path = pkgbuild/python2-flask-restplus072
	url = ssh://aur@aur.archlinux.org/python2-flask-restplus072.git
[submodule "pkgbuild/python2-flask-restplus"]
	path = pkgbuild/python2-flask-restplus
	url = ssh://aur@aur.archlinux.org/python2-flask-restplus.git
[submodule "pkgbuild/python2-ordereddict"]
	path = pkgbuild/python2-ordereddict
	url = ssh://aur@aur.archlinux.org/python2-ordereddict.git
[submodule "pkgbuild/python2-libsass"]
	path = pkgbuild/python2-libsass
	url = ssh://aur@aur.archlinux.org/python2-libsass.git
[submodule "pkgbuild/python2-flask-assets"]
	path = pkgbuild/python2-flask-assets
	url = ssh://aur@aur.archlinux.org/python2-flask-assets.git
[submodule "pkgbuild/python2-pytvmaze"]
	path = pkgbuild/python2-pytvmaze
	url = ssh://aur@aur.archlinux.org/python2-pytvmaze.git
[submodule "pkgbuild/python2-guessit"]
	path = pkgbuild/python2-guessit
	url = ssh://aur@aur.archlinux.org/python2-guessit.git
[submodule "pkgbuild/kodi-addon-inputstream-adaptive"]
	path = pkgbuild/kodi-addon-inputstream-adaptive
	url = ssh://aur@aur.archlinux.org/kodi-addon-inputstream-adaptive.git
[submodule "pkgbuild/python2-first"]
	path = pkgbuild/python2-first
	url = ssh://aur@aur.archlinux.org/python2-first.git
[submodule "pkgbuild/python-urwidtrees"]
	path = pkgbuild/python-urwidtrees
	url = ssh://aur@aur.archlinux.org/python-urwidtrees.git
